
@model ITSWebMgmt.Models.Group
@{
    ViewData["Title"] = "GroupInfo";
}
        <!-- Loader -->
        <div id="loader">
            <div class="ui active dimmer" style="display: none">
                <div class="ui text loader">Loading</div>
            </div>
        </div>

        <!-- page seach header -->
        <div>
            <h1>@Html.DisplayFor(model => model.Title)</h1>
            <!--
            Group Name
            <div class="ui action input">
                <asp:TextBox ID="txtbxGroupName" runat="server" Text="" CssClass="ui input focus" placeholder="Search..." />
                <asp:Button runat="server" CssClass="ui button" ID="sumbit" OnClick="sumbit_Click" Text="Søg" OnClientClick='$("#loader > div").show("fast");' />
            </div>
            -->
        </div>

        <!-- page content -->
        <script>
            $(document).ready(function () {
                $('.menu .item').tab({ history: false });
            });
        </script>

        <br />
        <br />
        <div runat="server" id="ResultDiv">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui vertical fluid tabular menu">
                        <a class="active item" data-tab="basicinfo">Basic Info</a>
                        <a class="item" data-tab="members">Members</a>
                        <a class="item" data-tab="memberOf">Member Of</a>
                        <!--<a class="item" data-tab="">Recurs memeberof?</a>-->
                        <a class="item" data-tab="rawData">Raw Data</a>

                    </div>
                </div>
                <div class="twelve wide stretched column">
                    <div class="ui tab segment">
                        none<!-- spacer as the fist elemen else is placed differencet -->
                    </div>
                    <div class="ui active tab segment" data-tab="basicinfo">
                        <h2>Basic Info</h2>
                        <table class="ui definition table">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Domain:</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Domain)
                                    </td>
                                </tr>
                                <tr>
                                    @Html.Partial("ManagedBy", Model)
                                </tr>
                                <tr>
                                    <td>Is Security group:</td>
                                    <td>
                                        @Html.DisplayFor(model => model.SecurityGroup)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Group Scope:</td>
                                    <td>
                                        @Html.DisplayFor(model => model.GroupScope)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Group Description:</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Description)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Group Info:</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Info)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui tab segment" data-tab="members">
                        @Html.Raw(Model.FileshareInfo)
                        @Html.Partial("Groups", new PartialGroupModel(Model.ADcache, "member", "Members"))
                    </div>
                    <div class="ui tab segment" data-tab="memberOf">
                        @Html.Raw(Model.FileshareInfo)
                        @Html.Partial("Groups", new PartialGroupModel(Model.ADcache, "memberOf", "Members Of"))
                    </div>
                    <div class="ui tab segment" data-tab="rawData">
                        <h2>Raw Data</h2>
                        @Html.Raw(Model.Raw)
                    </div>
                </div>
            </div>
        </div>